label {
	min-width: 10%:	
}

input {
	min-width: 40%;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	min-width: 50%;
	border-color: #999999;
	border-collapse: collapse;
}
table th {
	background:#b5cfd2 url('/img/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table td {
	background:#dcddc0 url('/img/cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}